<%# app/views/items/index.html.erb %>
<h1>Items</h1>

<%= link_to "Ilmoita tavarasta", new_item_path %>


<div id="items">
  <% @items.each do |item| %>
    <div>
        <%= link_to item.name, item_path(item.id) %>
    </div>
  <% end %>
</div>
